<mat-spinner *ngIf="allCountryDetails.length == 0"></mat-spinner>
<div class="search-filtering">
  <mat-form-field class="form-control">
    <mat-label style="color: var(--font-color);"> Search for a country..</mat-label>
    <input [(ngModel)]="searchText" matInput placeholder="Ex. India">
  </mat-form-field>
  <!-- <div class="search-country">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
      placeholder=" Search for a country..">
  </div> -->
  <div class="filter-region">
    <mat-form-field>
      <mat-label style="color: var(--font-color);">Filter by Region</mat-label>
      <mat-select style="color: var(--font-color);" [(ngModel)]="filterText" name="car">
        <mat-option class="options-back">None</mat-option>
        <mat-option class="options-back" *ngFor="let car of foods" value="{{car.value}}">
          {{car.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="country-list-view">
  <mat-card class="card" routerLink="country/{{Country.alpha3Code}}"
    *ngFor="let Country of allCountryDetails | filter : searchText | filter : filterText">
    <img mat-card-image src={{Country.flag}} alt="Country Flag">
    <mat-card-content class="card-body">
      <a class="card-title">{{Country.name}}</a>
      <p class="population">Population : {{Country.population}} </p>
      <p class="region"> Region : {{Country.region}}</p>
      <p class="capital"> Capital : {{Country.capital}}</p>
    </mat-card-content>
  </mat-card>
</div>
