<div class="search-filtering">
  <form class="form-inline md-form form-sm active-cyan-2">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput>
    <span class="glyphicon glyphicon-search-white"></span>
  </form>
</div>

<div class="country-list-view">
  <div class="card" style="width : 220px;" *ngFor="let Country of allCountryDetails">
    <img class="card-img" style="width : 220px; height : 146px; border-radius: 0.2em;" src={{Country.flag}}
      alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title">{{Country.name}}</h4>
      <p class="population">Population : {{Country.population}} </p>
      <p class="region"> Region : {{Country.region}}</p>
      <p class="capital"> Capital : {{Country.capital}}</p>
    </div>
  </div>
</div>
