<div class="country-body">
  <button (click)="back()" class="back-button">Back</button>
  <div class="country-details">
    <img class="card-img" style="width : 500px; height : 350px; border-radius: 0.2em;"
      src={{specificCountryDetails.flag}} alt="Country Flag" />
    <div class="country-document">
      <h4 style="font-size: 2.5em;"> {{specificCountryDetails.name}}</h4>
      <div class="basic-details">
        <div class="first-column">
          <li class="detail">Native Name: <p class="xx">{{specificCountryDetails.nativeName}}</p>
          </li>
          <li class="detail">Populations : <p class="xx">{{specificCountryDetails.population}}</p>
          </li>
          <li class="detail">Region : <p class="xx">{{specificCountryDetails.region}}</p>
          </li>
          <li class="detail">Sub Region : <p class="xx">{{specificCountryDetails.subregion}}</p>
          </li>
          <li class="detail">Capital : <p class="xx">{{specificCountryDetails.capital}}</p>
          </li>
        </div>
        <div class="second-column">
          <li class="detail">Top Level Domain : <p class="xx">{{specificCountryDetails.topLevelDomain}}</p>
          </li>

          <li class="detail">
            Currencies :
            <p class="xx" *ngFor="let courency of specificCountryDetails.currencies index as indexOfelement;">
              {{indexOfelement != 0 ? ", "+ courency.code : courency.code}}</p>
          </li>

          <li class="detail">
            Languages :
            <p class="xx" *ngFor="let language of specificCountryDetails.languages index as indexOfelement;">
              {{indexOfelement != 0 ? ", "+language.name : language.name}}</p>
          </li>
        </div>
      </div>
      <div class="border-countries">
        <h4>Border Countries :</h4>
        <p style="margin: 1.35em 1.5em;" *ngIf="specificCountryDetails.borders.length == 0">
          No Record
        </p>
        <button class="countries" routerLink="../{{border}}" *ngFor=" let border of specificCountryDetails.borders">
          {{border}}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- *ngFor=" let border of specificCountryDetails.borders" -->
