/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "CustomFont";
  src: url("https://yoursite.com/css/fonts/CustomFont.eot");
  src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
