.home-page {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 26.5em;
  background-color: var(--background-color);
}

.home-header-bar {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 1.5em 7em;
  background-color: var(--background-color-lighter);
  color: var(--font-color);
}

.btn-dark-mode {
  background: transparent;
  border: none;
  outline: none !important;
  color: var(--font-color);
}

.btn-dark-mode:active {
  background-color: var(--dark-mode-btn-color)
}

@media only screen and (max-width: 375px) {
  .home-header-bar {
    padding: 1em 1em;
  }

  h1 {
    font-size: 1.2em;
  }

  .btn-dark-mode {
    font-size: 0.7em;
  }
}
